/* ===============================
            #style.css

project by @tommycbird on github
=============================== */




/*[][][]============ CUSTOM PROPERTY ============ [][][]*/

:root {

/*colors*/

    --cadet-blue-crayola: hsl(240, 10%, 70%);
    --gold-web-golden: hsl(50, 100%, 54%);
    --vivid-sky-blue: hsl(196, 84%, 63%);
    --midnight-blue: hsl(231, 83%, 25%);
    --minion-yellow: hsl(50, 100%, 64%);
    --independence: hsl(225, 24%, 27%);
    --orange-soda: hsl(7, 96%, 61%);
    --space-cadet: hsl(243, 23%, 18%);
    --fiery-rose: hsl(353, 83%, 65%);
    --klein-blue: hsl(230, 80%, 39%);
    --bluetiful: hsl(222, 88%, 55%);
    --glaucous: hsl(230, 52%, 63%);
    --manatee: hsl(254, 7%, 65%);
    -rufous: hsl(2, 85%, 35%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);

/*font*/

    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    --fs-1: 3.5rem;
    --fs-2: 3rem;
    --fs-3: 2.4rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.3rem;

    --fw-600: 600;
    --fw-700: 700;

/*border radii*/

    --radius-5: 5px;
    --radius-10: 10px;
    --radius-15: 15px;
    --radius-20: 20px;

/*spacing*/

    --section-padding: 60px;

/*shadow*/

    --shadow: 0 -5px 10px var(--manatee);
    
/*transition*/
    
    --transition-1: 0.05s ease;
    --transition-2: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

}

/*[][][]============ RESET ============ [][][]*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
strong,
button,
textarea,
ion-icon { display: block; }

img { height: auto; }

ion-icon {
  pointer-events: none;
  color: var(--white);
}

button,
input,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input,
textarea { width: 100%; }

address { font-style: normal; }

html {
  font-size: 10px;
  font-family: var(--ff-open-sans);
  scroll-behavior: smooth;
}

body {
  background-color: var(--space-cadet);
  color: var(--cadet-blue-crayola);
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
}

:focus-visible { outline-offset: 4px; }

/*::-webkit-scrollbar { width: 15px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }
*/

/*[][][]============ REUSED STYLE ============ [][][]*/

.container { padding-inline: 20px; }




/*[][][]============ HEADER ============ [][][]*/

.header {
    position: fixed;
    padding-block: 15px;
    width: 100%;
    background-color: var(--space-cadet);
    height: 65px;
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: 0.25s var(--cubic-out);
    z-index: 4;
}
  
.header.nav-active {
    height: 335px;
    transition-duration: 0.35s;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: var(--white);
    font-family: var(--ff-poppins);
    font-size: 2.4rem;
  }
  
  .nav-toggle-btn { font-size: 3rem; }
  
  .nav-toggle-btn .close-icon,
  .nav-toggle-btn.active .menu-icon { display: none; }
  
  .nav-toggle-btn.active .close-icon,
  .nav-toggle-btn .menu-icon { display: block; }

  .navbar {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    padding-inline: 20px;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-2);
  }
  
  .header.nav-active .navbar {
    visibility: visible;
    opacity: 1;
  }
  
  .navbar-link {
    color: var(--white);
    font-family: var(--ff-barlow);
    padding-block: 3px;
    transition: var(--transition-1);
  }
  
  .navbar-link:is(:hover, :focus) { color: var(--orange-soda); }

  .navbar .btn {
    background-color: var(--orange-soda);
    margin-block-start: 15px;
  }

  

