/* ===============================
            #style.css

project by @tommycbird on github
=============================== */




/*[][][]============ CUSTOM PROPERTY ============ [][][]*/

:root {

/*colors*/

    --txt1: hsl(0, 0%, 100%); /* headers */
    --txt2: hsl(0, 0%, 84%); /* body */
    --txt3: rgb(255, 104, 104); /* subtitle */
    --mark: rgb(255, 141, 141);
    --ptxt1: hsl(0, 0%, 100%); /* portfolio title */
    --ptxt2: hsl(0, 0%, 100%); /* portfolio body */
    --ptxt3: rgb(86, 171, 255); /* portfolio subtitle */
    --btn: hsl(130, 36%, 47%); /* btns */
    --btn2: hsl(112, 55%, 56%); /* btn hover */
    --bg: rgb(33, 32, 30); /* main bg */
    --bg2: rgb(38, 38, 36); /* portfolio card bg */
    --shadow: hsl(198, 71%, 14%); /* shadows */

/*font*/

    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    --fs-1: 3.5rem;
    --fs-2: 3rem;
    --fs-3: 2.4rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.3rem;

    --fw-600: 600;
    --fw-700: 700;

/*border radii*/

    --radius-5: 5px;
    --radius-10: 10px;
    --radius-15: 15px;
    --radius-20: 20px;

/*spacing*/

    --section-padding: 60px;

/*shadow*/

    --shadow: 0 -5px 10px var(--shadow);
    
/*transition*/
    
    --transition-1: 0.05s ease;
    --transition-2: 0.3s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

}

/*[][][]============ RESET ============ [][][]*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
strong,
button,
textarea,
ion-icon { display: block; }

img { height: auto; }

ion-icon {
  pointer-events: none;
  color: var(--txt1);
}

button,
input,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input,
textarea { width: 100%; }

address { font-style: normal; }

html {
  font-size: 10px;
  font-family: var(--ff-open-sans);
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--txt2);
  font-size: 2rem;
  line-height: 1.6;
  overflow-x: hidden;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 15px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }


/*[][][]============ REUSED STYLE ============ [][][]*/

.container { padding-inline: 20px; }

mark {
  color: var(--mark);
  background-color: #00000000;
}

.btn {
  color: var(--txt1);
  font-family: var(--ff-barlow);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  max-width: max-content;
  padding: var(--padding, 10px 40px);
  border-radius: 50px;
  transition: var(--transition-2);
}

.btn-primary {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-primary.blue { 
  background-color: var(--btn); 
  vertical-align: baseline;
}

.btn-primary.blue:is(:hover, :focus) { background-color: var(--btn2); }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section { padding-block: var(--section-padding); }

.section-subtitle {
  color: var(--txt3);
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  text-align: center;
}

.h2,
.h3 {
  color: var(--txt1);
  font-family: var(--ff-barlow);
  font-weight: 600;
  line-height: 1.3;
}

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.section-title,
.section-text { text-align: center; }

/*[][][]============ HEADER ============ [][][]*/

.header {
    position: fixed;
    padding-block: 15px;
    width: 100%;
    background-color: transparent;
    height: 75px;
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: 0.25s var(--cubic-out);
    z-index: 4;
}

.title {
  display: flex;
  align-items: center; 
}

.title img {
  margin-right: 10px; 
  margin-bottom: 8px;
}

.nav-toggle-btn { display: none; }


.header.active{
  background-color: var(--bg);
}
  
.header.nav-active {
    height: 260px;
    transition-duration: 0.35s;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: var(--txt1);
    font-family: var(--ff-poppins);
    font-size: 3rem;
  }
  

  .navbar {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    visibility: visible;
    opacity: 1;
  }
  
  
  .header.nav-active .navbar {
    visibility: visible;
    opacity: 1;
  }
  
  .navbar-link {
    color: var(--txt1);
    font-family: var(--ff-barlow);
    padding-block: 3px;
    transition: var(--transition-1);
  }
  
  .navbar-link:is(:hover, :focus) { color: var(--btn2); }

  .navbar .btn {
    background-color: var(--btn);
    margin-block-start: 15px;
  }

  .navbar .btn:hover {
    background-color: var(--btn2);
  }


/*[][][]============ HERO PIC ============ [][][]*/

.hero {
  position: relative;
  padding-block: 100px var(--section-padding);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* blur amount */
  z-index: -1;
}

.hero-content {
  text-align: center;
}

.hero-banner {
  width: 50%;
  height: 50%;
  background-color: var(--bg2);
  border-radius: var(--radius-10);
  margin-inline: auto;
  margin-block-end: 30px;
}

.hero-banner img { border-radius: inherit; }

.hero-content {
  text-align: center;
  color: var(--txt1);
}

.hero-title {
  font-family: var(--ff-barlow);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  line-height: 1.3;
  margin-block-end: 14px;
}

.hero-title strong {
  font-size: var(--fs-1);
  font-weight: inherit;
  margin-block-end: 8px;
}

.hero-text { margin-block-end: 25px; }

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*[][][]============ ABOUT ============ [][][]*/

.about { padding-block-start: 120px; }

.about-banner {
  background-color: var(--bg2);
  border-radius: var(--radius-10);
  margin-block-end: 30px;
}

.about-banner > .img-cover { border-radius: inherit; }

.about :is(.section-title, .section-subtitle, .section-text) { text-align: left; }

.about :is(.section-title, .section-text) { margin-block-end: 30px; }

/*[][][]============ PORTFOLIO ============ [][][]*/

.portfolio .section-title { margin-block-end: 18px; }

.portfolio .section-text { margin-block-end: 80px; }

.portfolio{ background-color: var(--bg);}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-radius: var(--radius-20);
  background-color: var(--bg2);
}

.image-container {
  position: relative;
  width: 40%; 
  height: auto; 
  border-radius: 20px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.image-overlay:hover {
  opacity: 1;
}

.project-img-text {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
}

.project-details {
  width: 55%; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  color: var(--ptxt1);
  font-size: 2rem;
  margin: 0;
}

.project-subtitle {
  color: var(--ptxt3);
  margin: 10px 0;
}

.project-text {
  margin: 10px 0;
  color: var(--ptxt2);
}

.project-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.project-button {
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid var(--ptxt1);
  color:var(--ptxt1);
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: var(--radius-20);
  transition: background-color 0.2s ease-in-out;
  align-self: center;
  margin-top: 10px;
}

.project-button:hover {
  background-color: var(--ptxt1);
  color: var(--bg2);
}

/* Alternate image/text sides for every other project */
.project:nth-child(even) .image-container {
  order: 2;
}

.project:nth-child(even) .project-details {
  order: 1;
}

/* Tab Selector Styles */
.tab-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  background-color: var(--bg2);
  color: var(--txt1);
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  font-size: var(--fs-5);
  font-family: var(--ff-barlow);
  transition: var(--transition-2);
  margin: 0 5px;
  border-radius: var(--radius-5);
}

.tab-button.active,
.tab-button:hover {
  background-color: var(--btn);
}

.tab-content:n{
  display: flex;
  flex-direction: column;
}

.tab-content > *:not(:first-child) {
  margin-top: 60px;
}

.hidden {
  display: none;
}





/*[][][]============ FOOTER ============ [][][]*/

.footer {
  background-color: var(--bg2);
  padding-block: 60px;
}

.copyright {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 10px;
}

.copyright-link {
  display: inline-block;
  transition: var(--transition-2);
  font-weight: var(--fw-600);
}

.copyright-link:is(:hover, :focus) { color: var(--txt1); }

.footer-list {
  max-width: max-content;
  margin-inline: auto;
}

.footer-list * { display: inline-block; }

.footer-list > li:not(:last-child) { margin-inline-end: 40px; }

.footer-link { transition: var(--transition-2); }

.footer-link:is(:hover, :focus) { color: var(--txt1); }

/*============== BACK TO TOP ==============*/

.back-to-top {
  color: var(--txt1);
  font-size: 1.3rem;
  position: fixed;
  bottom: 160px;
  right: -30px;
  transform: rotate(0.25turn);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
  z-index: 1;
}

.back-to-top.active {
  right: -5px;
  opacity: 1;
  visibility: visible;
}

.back-to-top::after {
  content: "";
  position: absolute;
  top: 10px;
  left: calc(100% + 7px);
  width: 100px;
  height: 1px;
  background-color: var(--txt1);
}


/*============== MEDIA QUERIES ==============*/


/* MOBILE SCREENS ----------------*/

/* Responsive styles for stacking image on top of text */
@media only screen and (max-width: 992px) {


  p {
    font-size: 2.0rem;
  }


  .navbar {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    position: static; 
    width: auto; 
    opacity: 1;
    order: 1;
  }

  .navbar-list {
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding-top: 10px;
  }

  .navbar-link {
    padding: 10px;
  }

  header.nav-active .navbar {
    visibility: visible;
    opacity: 1;
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center;
  }
  
  .header.nav-active{
    background-color: var(--bg);
  }

  .logo {
    font-size: 25px;
    padding-top: 10px;
    text-wrap: nowrap;
    flex-shrink: 1;
  }

  .logo-img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }

  .navbar-item {
    font-size: 17px;
    padding-left: 5px;
  }

  .navbar .btn {
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 4px;
  }

  .header {
    position: fixed;
    padding-block: 5px;
    width: 100%;
    background-color: transparent;
    height: 75px;
  }

  /* Hero */

  .hero-banner {
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }

  /* About */

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
  }

  .about-banner {
    position: relative;
    margin-block-end: 0;
  }


  .about-content .section-title {
    font-size: 18px;
  }
  .about-content .section-text {
    font-size: 14px;
  }
  

  /* Project */

  .project {
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    width: 100%;
    margin-bottom: 20px;
    order: 1;
  }

  .project-details {
    width: 100%;
    text-align: left;
    order: 2;
  }

  .project-button{
    align-self: flex-end;
  }

  .project-buttons{
    justify-content: right;
  }

  .project:nth-child(n) .image-container {
    order: 1;
  }

  .hero-banner {
    width: 50%;
    height: 50%;
  }
}



/* BIG SCREENS ----------------*/
  /* for 992px+ screen */
@media (min-width: 992px) {

  /* CUSTOM PROPERTY */

  :root {

    /**
     * typography
     */

    --fs-1: 6.4rem;
    --fs-2: 3.5rem;
    --fs-3: 3.6rem;

    /**
     * spacing
     */

    --section-padding: 80px;

  }


  /* REUSED STYLE */

  .container {
    max-width: 1280px;
    margin-inline: auto;
  }

  .logo {
    color: var(--txt1);
    font-family: var(--ff-poppins);
    font-size: 2.4rem;
  }

  p {
    font-size: 1.6rem;
  }

  /* HEADER */

  .header,
  .header.nav-active {
    background-color: transparent;
    box-shadow: none;
    height: unset;
    padding-block: 30px;
  }

  .header.active {
    box-shadow: var(--shadow);
    padding-block: 20px;
  }

  .navbar { all: unset; }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navbar .btn {
    margin-block-start: 0;
    --padding: 7px 30px;
  }

  /* HERO IMAGE */

  .hero .container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    column-gap: 100px;
  }

  .hero-content { text-align: left; }

  .btn-group { justify-content: flex-start; }

  .hero-title span { font-size: 3rem; }

  .hero-title {
    --fs-5: 2.2rem;
    margin-block-end: 25px;
  }

  .hero-text {
    margin-block-end: 25px;
    font-size: var(--fs-5);
  }

  .hero-banner {
    position: relative;
    margin-block-end: 0;
    order: 1;
    width: 400px;
    height: 500px;
    margin-inline: 0;
    margin-inline-start: auto;
  }


  /* PORTFOLIO */

  /* Alternate flex for buttons */
  .project:nth-child(even) .project-buttons {
    justify-content: left;
  }

  .project:nth-child(odd) .project-buttons {
    justify-content: right;
  }

  /* ABOUT */

  .about { padding-block: 80px; }

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
  }

  .about-banner {
    position: relative;
    margin-block-end: 0;
  }
  

  /**
   * FOOTER
   */

  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}